

.q_slider, .header_top {
background-color:#000 !important;
}


.content .container .container_inner.default_template_holder, .content .container .container_inner.page_container_inner {
padding: 60px 0 !important;
}

header.sticky nav.main_menu > ul > li > a, header.light.sticky nav.main_menu > ul > li > a, header.dark.sticky nav.main_menu > ul > li > a {
color:#fff !important;
}

.header_top {
height:55px;
line-height:55px;
}
@media only screen and (max-width: 1000px){
.header_top {
height:auto;
line-height:auto;
}
}

.header_top #searchform {
border: 1px solid #4ab64d;
margin: 10px;
}
.widget.widget_search form input[type="submit"], .header_top #searchform input[type="submit"] {
color:#4ab64d;
}

nav.main_menu > ul > li > a {
line-height:140px;
}
.logo_wrapper {
height:140px !important;
}

.portfolio_navigation {
display:none;
}
.portfolio_navigation .portfolio_button a {
display:none;
}
.portfolio_navigation .portfolio_prev a, .portfolio_navigation .portfolio_next a {
border:none;
color:#4ab64d;
font-size:60px;
}
.portfolio_navigation .portfolio_prev a:hover, .portfolio_navigation .portfolio_next a:hover {
background-image:none !important;
background-color:transparent;
}
.portfolio_navigation .portfolio_prev a {
margin-left: -55px;
}
.portfolio_navigation .portfolio_next a {
margin-right: -55px;
}
.portfolio_navigation {
position:absolute;
top:30%;
}

.projects_holder article span.text_holder span span.text_inner .project_category, .portfolio_categories {
display:none;
}

.portfolio_single .column1, .portfolio_single .column2 {
width:50% !important;
}
.portfolio_single .column2 {
padding-top:20px;
}
@media only screen and (max-width: 1000px){
.portfolio_single .column1, .portfolio_single .column2 {
width:100% !important;
}
.portfolio_single .column2 .column_inner {
padding:0 !important;
}
}

.flex-direction-nav a, .caroufredsel-direction-nav a {
border:2px solid #ccc;
}
.flex-direction-nav a i, .caroufredsel-direction-nav a i {
color:#ccc;
}

.green {
height:25px; 
width:25px; 
background-color:#00da03;
border-radius:3px;
float:left;
margin-top:8px;
margin-right:5px;
}
.black {
height:25px; 
width:25px; 
background-color:#000;
border-radius:3px;
float:left;
margin-top:8px;
margin-right:5px;
}
.wood {
height:25px; 
width:25px; 
background:url(http://fum-box.com/wp-content/uploads/2015/12/wood.jpg) no-repeat center center;
border-radius:3px;
float:left;
margin-top:8px;
margin-right:5px;
}

.ls-v5 .ls-nav-prev, .ls-v5 .ls-nav-next {
height:40px !important;
}
.ls-nav-next::after, .ls-nav-prev::after {
line-height:40px !important;
}

.page-id-15767 nav, .page-id-15767 .header_top, .page-id-15773 nav, .page-id-15773  .header_top {
visibility:hidden;
}